---- Ignore ----

# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
appsettings.json

# VS Code
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Secrets
secrets.json
*.env

# Entity Framework
migrations/

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# SQLite/local DB
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3